{% extends 'master.html' %}

{% block head %}
<style>
  html {
      height: 100%;
  }

  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

  .content-wrapper {
      flex: 1;
  }

  .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: transform 0.3s;
  }

  .card-content {
      flex: 1;
  }

  .card:hover {
      transform: scale(1.03); /* Scale the card by 5% on hover */
  }

  .spacer-with-line {
      height: 2px;
      background-color: #ccc;
      margin: 3rem 0;
      width: 100%;
  }

  .box.with-outline {
      outline: 2px solid #ccc;
      outline-offset: 0px; 
      border-radius: 10px; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .box-fixed {
      height: 400px; /* Adjust as needed */
  }

  .image-display {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
  }

  .image-display img {
      max-height: 100%;
      object-fit: contain;
  }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="container is-centered">
    <div class="columns">
      <div class="column is-half">
        <div class="box with-outline box-fixed">
          <form method="post" id="img-form" action="/home/search" onsubmit="return validateForm()">
            {% csrf_token %}
            <label class="label is-medium">Image</label>
            <div class="field has-addons">
              <p class="control">
                <button class="button is-light is-danger" id="clear" type="button">
                  X
                </button>
              </p>
              <p class="control">
                <input class="input" name="img" list="img-list" placeholder="Pick an image" id="image-input" autocomplete="off" required>
                <datalist id="img-list">
                  {% for img in imgs %}
                  <option value="{{ img }}"></option>
                  {% endfor %}
                </datalist>
              </p>
              <p class="control">
                <a class="button is-static">
                  .jpg
                </a>
              </p>
            </div>
            <div class="field">
              <label class="label is-medium">Top</label>
              <div class="select">
                <select name="top">
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
            <div class="field">
              <label class="label is-medium">Model</label>
              <div class="select">
                <select name="model">
                  <option>VGG16</option>
                  <option>RESNET50</option>
                </select>
              </div>
            </div>
            <div class="field">
              <label class="label is-medium">Distance</label>
              <div class="select">
                <select name="distance">
                  <option>Euclidian</option>
                  <option>Chi Square</option>
                  <option>Bhatta</option>
                </select>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-link" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column is-half">
        <div class="box with-outline box-fixed">
          <div class="image-display">
            <img id="image-preview" src="" alt="Selected Image" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('clear').addEventListener('click', function() {
      document.getElementById('image-input').value = '';
      var imagePreview = document.getElementById('image-preview');
      imagePreview.style.display = 'none';
  });

  document.getElementById('image-input').addEventListener('input', function() {
      var imageName = this.value;
      var imagePreview = document.getElementById('image-preview');
      var regex = /^\d+$/;
      var imageNumber = Number(imageName);
      if (regex.test(imageName) && imageNumber >= 0 && imageNumber <= 999) {
          var imagePath = '/media/image_orig/' + imageName + ".jpg";
          imagePreview.src = imagePath;
          imagePreview.style.display = 'block';
      } else {
          imagePreview.style.display = 'none';
      }
  });

  function validateForm() {
      var imageInput = document.getElementById('image-input').value;
      var imageNumber = Number(imageInput);
      if (!isNaN(imageNumber) && imageNumber >= 0 && imageNumber <= 999) {
          return true; // Allow form submission
      } else {
          alert('Please enter a valid image name in the format ID where ID is a number between 0 and 999.');
          return false; // Prevent form submission
      }
  }
</script>
{% endblock %}
