{% extends 'master.html' %}

{% block head %}
<style>
  html {
      height: 100%;
  }

  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

  .content-wrapper {
      flex: 1;
  }

  .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: transform 0.3s;
  }

  .card-content {
      flex: 1;
  }

  .card:hover {
      transform: scale(1.03); /* Scale the card by 5% on hover */
  }

  .spacer-with-line {
      height: 2px;
      background-color: #ccc;
      margin: 3rem 0;
      width: 100%
  }
</style>
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="container is-centered">
    <div class="columns">
      <div class="column is-half">
        <div class="box">
          <form method="post" id="img-form" action="/home/search">
            {% csrf_token %}
            <div class="field">
              <label class="label is-medium">Image</label>
              <input class="input" name="img" list="img-list" placeholder="Pick an image" id="image-input">
              <datalist id="img-list">
                {% for img in imgs %}
                <option value="{{ img }}">
                  {% endfor %}
              </datalist>
            </div>
            <div class="field">
              <label class="label is-medium">Top</label>
              <div class="select">
                <select name="top">
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column">
        <div class="image-display">
          <img id="image-preview" src="" alt="Selected Image" style="max-width: 100%; max-height: 300px; display: none;">
        </div>
      </div>
      <script>
        document.getElementById('image-input').addEventListener('input', function() {
            var imageName = this.value;
            var imagePreview = document.getElementById('image-preview');
            var regex = /^\d+\.jpg$/;
            if (regex.test(imageName)) {
                var imagePath = '/media/image_orig/' + imageName;
                console.log(imagePath);
                imagePreview.src = imagePath;
                imagePreview.style.display = 'block';
            } else {
                console.log("JESSIE");
                imagePreview.style.display = 'none';
            }
        });
      </script>
    </div>

  </div>
</div>
{% endblock %}
